{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "dashboard/css/search-client.css" %}">
{% endblock %}

{% block body %}
    <main class="main-container">
        <nav class="search-client">
            <img class="logo" alt="Joole logo" src="{% static 'dashboard/img/joole.png' %}" />
            <div class="search-input-container">
                <form method="get" action="{% url 'dashboard:search_client' %}">
                    <label for="search-client">Client ID or name</label>
                    <div class="search-input">
                        <input id="search-client" name="q" value="{{ query|default:'' }}" />
                        <button type="submit"><i class="icon fill-gray" data-eva="search"></i></button>
                    </div>
                </form>
                {% if query %}
                    <section class="search-results">
                        {% if clients %}
                            <h2>Results for "{{ query }}" :</h2>
                            <ul>
                                {% for client in clients %}
                                    <li>
                                        <a href="{% url 'dashboard:consumption_details' client_id=client.pk %}">
                                            {{ client.full_name }} (ID: {{ client.pk }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Aucun client trouvé pour "{{ query }}".</p>
                        {% endif %}
                    </section>
                {% endif %}
            </div>
        </nav>
    </main>
{% endblock body %}

{% block script %}
    <script src="{% static 'dashboard/js/search-client.js' %}"></script>
{% endblock %}
