{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "dashboard/css/search-client.css" %}">
{% endblock %}

{% block body %}
    <main class="main-container">
        <nav class="search-client">
            <img class="logo" alt="Joole logo" src="{% static 'dashboard/img/joole.png' %}" style="display:block; margin-bottom: 0.5em;" />
            <p style="font-size: 1.3em; margin-top: 4em; margin-bottom: 1.5em; text-align: center;">Welcome to Joole's client search! Use the search bar below to find clients
                by their ID or name and access their consumption data. Admins can access the admin page via the Admin View button.</p>
            <div class="search-input-container" style="margin-bottom: 1em;">
                <div style="display: flex; justify-content: center; margin-bottom: 1em;">
                    <a href="/admin/clients" class="admin-view-btn" style="padding: 0.4em 1em; background: lightgrey; border-radius: 4px; display: flex; align-items: center; gap: 0.3em;">
                        <i class="icon fill-gray" data-eva="grid-outline"></i> Admin view
                    </a>
                </div>
                <form method="get" action="{% url 'dashboard:search_client' %}">
                    <label for="search-client">Client ID or name</label>
                    <div class="search-input" style="display: flex; align-items: center; gap: 0.5em;">
                        <input id="search-client" name="q" value="{{ query|default:'' }}" />
                        <button type="submit"><i class="icon fill-gray" data-eva="search"></i></button>
                    </div>
                </form>
            </div>
                {% if query %}
                    <section class="search-results">
                        {% if clients %}
                            <h2>Results for "{{ query }}" :</h2>
                            <ul>
                                {% for client in clients %}
                                    <li>
                                        <a href="{% url 'dashboard:consumption_details' client_id=client.pk %}">
                                            {{ client.full_name }} (ID: {{ client.pk }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No clients found for "{{ query }}".</p>
                        {% endif %}
                    </section>
                {% endif %}
            </div>
        </nav>
    </main>
{% endblock body %}

{% block script %}
    <script src="{% static 'dashboard/js/search-client.js' %}"></script>
{% endblock %}
